{% extends 'layout.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/success.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="success-wrapper">
  <h2>Can't generate prediction: Please make sure all the iris flower dimensions are numbers and not letters.</h2>
</div>

<br>

<div class="success-wrapper">
    <form action="/" method="GET" align="center" style="width:100%">
        <input type="submit" value="Try Again" style="width:100%"/>
    </form>
</div>
{% endblock %}
